<li>
    {{id}}. {{burger_name}}
    {{#unless devoured}} 
    <button class="devour" data-id="{{id}}" data-name="{{burger_name}}" data-devoured="{{devoured}}">
        Devour 
    </button>
    {{/unless}}
</li>